<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kdt.mooluck.domain.admin.mapper.AgencyStaffMapper">

    <insert id="insertStaff">
        INSERT INTO agencystaff (agency_name, staff_name, staff_number, staff_email, password)
        VALUES (#{agency_name}, #{staff_name}, #{staff_number}, #{staff_email}, #{password})
    </insert>

    <select id="findByEmail" resultType="org.kdt.mooluck.domain.admin.dto.AgencyStaffDTO">
        SELECT * FROM agencystaff WHERE staff_email = #{staff_email} LIMIT 1
    </select>

</mapper>
