<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kdt.mooluck.domain.admin.mapper.AgencyStaffMapper">

    <insert id="insertStaff">
        INSERT INTO agencystaff (agency_name, staff_name, staff_number, staff_email, password)
        VALUES (#{agency_name}, #{staff_name}, #{staff_number}, #{staff_email}, #{password})
    </insert>

    <select id="findByEmail" resultType="org.kdt.mooluck.domain.admin.dto.AgencyStaffDTO">
        SELECT * FROM agencystaff WHERE staff_email = #{staff_email} LIMIT 1
    </select>

    <insert id="insertElder">
        INSERT INTO elder (elder_name, elder_address, elder_number, elder_account, elder_pwd, staff_id)
        VALUES (#{elderName}, #{elderAddress}, #{elderNumber}, #{elderAccount}, #{elderPwd}, #{staffId})
    </insert>

    <!-- elder 정보 수정 (관리자 권한)  -->
    <update id="updateElder">
        UPDATE elder
        <set>
            <if test="elderName != null">elder_name = #{elderName},</if>
            <if test="elderAddress != null">elder_address = #{elderAddress},</if>
            <if test="elderNumber != null">elder_number = #{elderNumber},</if>
        </set>
        WHERE elder_id = #{elderId}
    </update>

    <!-- elder 삭제 (관리자 권한)  -->
    <delete id="deleteElder">
        DELETE FROM elder
        WHERE elder_id = #{elderId};
    </delete>
</mapper>
