<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kdt.mooluck.domain.alert.mapper.AlertMapper">

    <!-- 특정 elderId에 대한 모든 알림 조회 -->
    <select id="getAlertsByElderId" resultType="org.kdt.mooluck.domain.alert.dto.AlertDTO">
        SELECT * FROM alert WHERE elder_id = #{elderId}
    </select>

    <!-- 특정 alertId에 대한 알림 조회 -->
    <select id="getAlertById" resultType="org.kdt.mooluck.domain.alert.dto.AlertDTO">
        SELECT * FROM alert WHERE alert_id = #{alertId}
    </select>

    <!-- 새 알림 추가 -->
    <insert id="insertAlert">
        INSERT INTO alert (elder_id, alert_time, alert_type, resolved)
        VALUES (#{elderId}, #{alertTime}, #{alertType}, #{resolved})
    </insert>

    <!-- 알림의 resolved 상태 업데이트 -->
    <update id="updateAlertStatus">
        UPDATE alert SET resolved = #{resolved} WHERE alert_id = #{alertId}
    </update>

    <!-- 사용자 알림 시간 설정 조회 -->
    <select id="getAlertSettings" resultType="org.kdt.mooluck.domain.alert.AlertSetting">
        SELECT user_id, alert_time FROM alert_settings
    </select>

    <select id="getActiveAlertByElderId" resultType="org.kdt.mooluck.domain.alert.dto.AlertDTO">
        SELECT * FROM alerts WHERE elder_id = #{elderId} AND resolved = false LIMIT 1
    </select>


</mapper>
