<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kdt.mooluck.domain.interaction.mapper.InteractionMapper">

    <!-- pet_count와 total_count 증가 -->
    <update id="incrementPetCount">
        UPDATE interaction
        SET pet_count = pet_count + 1,
            total_count = total_count + 1,
            last_interaction = NOW(),
            first_interval = CASE
                WHEN HOUR(NOW()) BETWEEN 0 AND 5 THEN first_interval + 1
                ELSE first_interval
            END,
            second_interval = CASE
                WHEN HOUR(NOW()) BETWEEN 6 AND 11 THEN second_interval + 1
                ELSE second_interval
            END,
            third_interval = CASE
                WHEN HOUR(NOW()) BETWEEN 12 AND 17 THEN third_interval + 1
                ELSE third_interval
            END,
            fourth_interval = CASE
                WHEN HOUR(NOW()) BETWEEN 18 AND 23 THEN fourth_interval + 1
                ELSE fourth_interval
            END
        WHERE elder_id = #{elderId}
    </update>

    <!-- water_count와 total_count 증가 -->
    <update id="incrementWaterCount">
        UPDATE interaction
        SET water_count = water_count + 1,
            total_count = total_count + 1,
            last_interaction = NOW(),
            first_interval = CASE
                WHEN HOUR(NOW()) BETWEEN 0 AND 5 THEN first_interval + 1
                ELSE first_interval
            END,
            second_interval = CASE
                WHEN HOUR(NOW()) BETWEEN 6 AND 11 THEN second_interval + 1
                ELSE second_interval
            END,
            third_interval = CASE
                WHEN HOUR(NOW()) BETWEEN 12 AND 17 THEN third_interval + 1
                ELSE third_interval
            END,
            fourth_interval = CASE
                WHEN HOUR(NOW()) BETWEEN 18 AND 23 THEN fourth_interval + 1
                ELSE fourth_interval
            END
        WHERE elder_id = #{elderId}
    </update>

    <!-- 다음날 되면 리셋 - scheduler  -->
    <update id="resetCounts">
        UPDATE interaction
        SET pet_count = 0, water_count = 0, total_count = 0,
            first_interval = 0, second_interval = 0, third_interval = 0, fourth_interval = 0
    </update>


</mapper>
