<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kdt.mooluck.domain.interaction.mapper.InteractionMapper">

    <!-- pet_count와 total_count 증가 -->
    <update id="incrementPetCount">
        UPDATE interaction
        SET pet_count = pet_count + 1,
            total_count = total_count + 1,
            last_interaction = NOW()
        WHERE elder_id = #{elderId}
    </update>

    <!-- water_count와 total_count 증가 -->
    <update id="incrementWaterCount">
    UPDATE interaction
    SET water_count = water_count + 1,
    total_count = total_count + 1,
    last_interaction = NOW()
    WHERE elder_id = #{elderId}
    </update>
</mapper>
